@font-face {
  font-family: gobold-regular;
  src: url(../fonts/gobold-regular.otf);
}

body {
    font-family: gobold-regular;
    overflow: hidden;
    height:100%;
    width:100%;
    font-size: 16px;
}

.main_container .text_description {
    width: 60px;
    display: inline-block;
}

.main_container .progress_holder {
    display: inline-block;
    text-align: left;
    width: 100px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 20px;
}

.main_container .progress {
    position: relative;
    background-color: #58DC68;
    height: 100%;
    font-size: 16px;
    border-radius: 20px;
}

.main_container .progress .progress_text {
    margin-left: 10px;
}

.main_container #armor .progress {
    background-color: #00B2D6;
}

.main_container #thirst .progress {
    background-color: #58C6DC;
}

.main_container #hunger .progress {
    background-color: #FFA100;
}

.bottom_container {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10px;
}